{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Search Results{% endblock %}
{% block content %}
 <section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="search.html">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                  <label>
                      <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
                  </label>
              </div>
              <div class="col-md-4 mb-3">
                <label class="sr-only">City</label>
                  <label>
                      <input type="text" name="city" class="form-control" placeholder="City">
                  </label>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}